<% provide(:title, 'Save Money') %>
<h1>Save Money</h1>
<p>
	Best store is: <%= @best_store_1 %><br/>
	Best price is: $<%= @best_price_1 %><hr/>
	<table><tr>
		<td>
			<table style="color: black; background-color:#00ff00;">
				<tr><th><%= @best_store_1 %></th></tr>
			<% @best_price_list_1.each do |item| %>
				<tr>
					<td><%= item.product.description %></td>
					<td>$ <%= item.price %></td>
				</tr>
			<% end %>
				<tr><td colspan="2" align="right"><%= @best_price_1 %></td></tr>
			</table>
		</td><td>     </td>
		<td>
			<table>
				<tr><th><%= @best_store_2 %></th></tr>
			<% @best_price_list_2.each do |item| %>
				<tr>
					<td><%= item.product.description %></td>
					<td>$ <%= item.price %></td>
				</tr>
			<% end %>
				<tr><td colspan="2" align="right"><%= @best_price_2 %></td></tr>
			</table>
		</td><td>     </td>
		<td>
			<table>
				<tr><th><%= @best_store_3 %></th></tr>
			<% @best_price_list_3.each do |item| %>
				<tr>
					<td><%= item.product.description %></td>
					<td>$ <%= item.price %></td>
				</tr>
			<% end %>
				<tr><td colspan="2" align="right"><%= @best_price_3 %></td></tr>
			</table>
		</td>
	</tr></table>
</p>